@import '@/styles/variables';

.header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  transition: all 0.3s ease;
  transform: translateY(0);
  position: relative;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 999;

  .logo {
    cursor: pointer;
    font-weight: bold;
    font-family: 'VITRO';
    color: #ffa127;
  }
  .profile {
    width: 30px;
    height: 30px;
    background: $main-color;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
  .logIn {
    display: flex;
    button {
      margin-left: 20px;
      font-size: 12px;

      font-family: 'VITRO';
    }
  }
  ul {
    display: flex;
    align-items: center;
    &.subList {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &.infoAndSearch {
      li {
        &.signIn {
          margin-left: 10px;
        }
      }
    }
    &.mobileHeader {
      display: none;
    }

    li {
      cursor: pointer;
      margin-right: 20px;
      font-size: 14px;
      font-weight: bold;
      &:last-child {
        margin: 0;
      }
    }
  }
  .search,
  .hamNav {
    width: 200px;
    margin-right: 5px;
    position: relative;
    width: 30px;
    height: 30px;
    background: #222;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      height: 20px;
      filter: invert(1);
    }
  }
  // mobile Header
  .hamNav {
    position: relative;
    cursor: pointer;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
    span {
      width: 60%;
      display: block;
      height: 2px;
      margin: 3px 0;
      background: #fff;
      transition: 0.3s ease;
    }
    &.active {
      span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
  .fixedMobContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.4s ease-in-out;
    padding: 100px 20px 0;
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
    > div {
      display: flex;
      padding: 20px;
      border-radius: 5px;
      border: 1px solid #fff;
      button,
      li {
        color: #fff;
      }
    }
    ul {
      // border: 1px solid green;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 20px;
      // background: #fdfce7;
      border: 1px solid #fff;
      margin-top: 20px;
      border-radius: 5px;
      li {
        margin: 0;
        padding: 20px 0;
        color: #fff;
      }
    }
  }
}

@media (max-width: $mobile) {
  .header {
    padding: 0 20px;
    ul {
      &.subList,
      &.infoAndSearch {
        display: none;
      }
      &.mobileHeader {
        display: block;
        display: flex;
      }
    }
  }
}
