.header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  transition: all 0.3s ease;
  transform: translateY(0);
  position: relative;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 999;

  .logo {
    cursor: pointer;
    font-weight: bold;
    font-family: 'VITRO';
    color: #ffa127;
  }
  .profile {
    width: 30px;
    height: 30px;
    background: var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
  .logIn {
    display: flex;
    button {
      margin-left: 20px;
      font-size: 12px;

      font-family: 'VITRO';
    }
  }
  ul {
    display: flex;
    align-items: center;
    &.subList {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &.infoAndSearch {
      li {
        &.signIn {
          margin-left: 10px;
        }
      }
    }

    li {
      cursor: pointer;
      margin-right: 20px;
      font-size: 14px;
      font-weight: bold;
      &:last-child {
        margin: 0;
      }
    }
  }
  .search {
    width: 200px;
    margin-right: 5px;
    position: relative;
    width: 30px;
    height: 30px;
    background: #222;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    img {
      height: 20px;
      filter: invert(1);
    }
  }
}
