.header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  transition: all 0.3s ease;
  transform: translateY(0);
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
  }

  .logo {
    cursor: pointer;
  }
  .profile {
    width: 30px;
    height: 30px;
    background: var(--main-color);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
    }
  }
  .logIn {
    display: flex;
    button {
      margin-left: 20px;
      font-size: 12px;
    }
  }
  ul {
    display: flex;
    &:first-child {
    }
    &:last-child {
    }

    li {
      color: #000;
      cursor: pointer;
      margin-right: 20px;
      font-size: 14px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
