@import '@/styles/variables';

.footer {
  min-height: 100px;
  background: #000;
  color: #fff;
  padding: 20px 50px;
  position: relative;
  z-index: 100;
  div {
    &.top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      h2 {
        font-weight: bold;
        font-family: 'VITRO';
        cursor: pointer;
        color: $effect-color;
        font-size: 16px;
        margin-right: 20px;
      }

      nav {
        a {
          font-size: 15px;
          margin-right: 20px;
        }
      }
    }
    &.bottom {
      width: 100%;
      background: #000;
      p {
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .footer {
    padding: 20px;
    > div {
      &.top {
        flex-direction: column;
        align-items: flex-start;
        h2 {
          margin-bottom: 20px;
        }
        nav {
          a {
            font-size: 14px;
          }
        }
      }
      &.bottom {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
