@import '@/styles/variables';
.mainWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: rgb(252, 255, 219);
  > div {
    width: 50%;
    height: calc(100% - 60px);
    margin: 60px 0;
    padding: 50px;
  }
  .leftImgSec {
    @media (max-width: $mobile) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
      border-radius: 10px;
    }
  }
  .rightContSec {
    display: flex;
    flex-direction: column;
    gap: 35px;
    @media (max-width: $tablet) {
      padding: 50px 50px 0 0;
    }
    @media (max-width: $mobile) {
      width: 100%;
      padding: 50px 20px;
    }
    .title {
      font-size: 10vw;
      font-weight: bold;
      font-family: 'PyeoJin';
      line-height: 0.9;
      color: #000;
      border-bottom: 2px solid #000;
      padding-bottom: 20px;
      @media (max-width: $mobile) {
        font-size: 120px;
      }
    }
    .desc {
      font-size: 17px;
      line-height: 1.7;
      strong {
        font-weight: bold;
      }
    }
    .btnGroup {
      button {
        font-size: 16px;
        &.primaryBtn {
          border: 1px solid $main-color;
          border-radius: 20px;
          padding: 10px 20px;
          background-color: $main-color;
          color: #000;
          transition: background-color ease 0.3s;
          &:hover {
            background-color: $effect-color;
          }
        }
        &.registerBtn {
          font-weight: bold;
          font-size: 17px;
          text-decoration: underline;
        }
      }
      .registerBtnWrapper {
        margin-top: 30px;
        line-height: 1.7;
        p {
          font-size: 15px;
          color: #555;
        }
      }
    }
  }
}
