.boardNew {
  padding: var(--main-width-padding);
  input,
  select,
  textarea {
    background: #f2f4fa;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    width: 100%;
    &:focus {
      border: 2px solid var(--main-color);
      outline: none;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  input,
  select {
    height: 50px;
    &.focus {
      border: 2px solid var(--main-color);
    }
  }

  textarea {
    min-height: 120px;
    resize: none;
    &.focus {
      background: #e6e7eb;
    }
  }
  label {
    font-size: 14px;
  }
  .alert {
    color: rgba(233, 156, 1, 0.902);
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    // border-bottom: 2px solid var(--main-color);
  }

  .title {
    padding: var(--title-padding);
    h2 {
      font-size: 20px;
    }
    span {
      font-size: 14px;
      margin-left: 5px;
      strong {
        background: var(--main-color);
        padding: 2px;
        border-radius: 2px;
      }
    }
  }
  form {
    display: flex;
    justify-content: space-between;
    > div {
      &:first-child {
        width: calc(70% - 10px);
        display: flex;
        flex-direction: column;
        button {
          &.submit {
            background: var(--main-color);
            padding: 10px 20px;
            margin-left: auto;
            margin-top: 20px;
            border-radius: 10px;
          }
        }
      }
      &.guide {
        width: calc(30% - 10px);
        background: #f2f4fa;
        height: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        h1 {
          font-size: 20px;
          margin-bottom: 20px;
        }
        p {
          font-size: 13px;
          line-height: 1.8;
          margin-bottom: 10px;
        }
      }

      .recipeInfo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        div {
          &.image {
            position: relative;
            label {
              height: 140px;
              width: 140px;
              cursor: pointer;
              display: inline-block;
              background: var(--main-color);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
              margin-right: 10px;
              overflow: hidden;
              border: 5px solid var(--main-color);
              img {
                &.uploadImg {
                  height: 100%;
                  pointer-events: none;
                }
                height: 25px;
              }
            }
            input {
              display: none;
            }
            span {
              position: absolute;
              top: -25px;
              width: 300px;
              border-bottom: 0;
            }
          }
          &:last-child {
            width: 100%;
            .options {
              display: flex;
              justify-content: space-between;
              select {
                cursor: pointer;
                width: calc(100% / 3 - 10px);
              }
            }
          }
        }
      }
      .recipeScript {
        margin-bottom: 20px;
      }
      .ingredient {
        margin-bottom: 20px;
        > button {
          background: var(--main-color);
          padding: 5px 15px;
          font-size: 12px;
          margin-left: 10px;
          border-radius: 10px;
          cursor: pointer;
        }
        div {
          display: flex;
          justify-content: space-between;

          input {
            width: calc(100% / 3 - 10px);
          }
        }
        .ingredientWrapper {
          position: relative;
          padding: 10px 30px 20px;
          margin-top: 20px;
          border-radius: 10px;
          border: 2px solid #eee;
          &.focus {
            border: 2px solid var(--main-color);
          }
          button.delete {
            width: 15px;
            height: 15px;
            background: #f6900a;
            position: absolute;
            top: 7px;
            left: 7px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 80%;
              filter: invert(1);
            }
          }
        }
      }
      .recipeStep {
        > div {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          position: relative;

          .deleteStep {
            position: absolute;
            top: 30px;
            width: 20px;
            height: 20px;
            background: #f6900a;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 60%;
              filter: invert(1);
            }
          }
          .stepNumber {
            width: 20px;
            height: 20px;
            background: #fee349;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            border-radius: 50%;
          }
          textarea {
            width: calc(100% - 40px);
            margin-top: 0;
          }
        }
        button.addButton {
          background: #fee349;
          margin-left: 40px;
          margin-top: 10px;
          padding: 5px 15px;
          border-radius: 10px;
          font-size: 12px;
        }
      }
    }
  }
}
