@import '@/styles/variables';

button {
  &.likeButton {
    display: flex;
  }
  &.edit {
    background-color: $main-color;
  }
  &.delete {
    margin-left: 10px;
    background-color: $sub-color;
  }
}
